{{ define "navbar" }}
<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__title">My First HTMX + Go app</div>
        <a
            class="navbar__link"
            href="/"
            hx-get="/"
            hx-swap="innerHTML"
            hx-target="#main"
            hx-push-url="true"
            >home</a
        >
        <a
            class="navbar__link"
            href="/blog"
            hx-get="/blog"
            hx-swap="innerHTML"
            hx-target="#main"
            hx-push-url="true"
            >blog</a
        >
    </div>
</nav>
{{ end }}
