{{ define "todo" }}
<div id="main-container" class="main-container">
    <h1>HTMX TODO LIST</h1>
    <div class="add-to-list-form-container">
        {{ template "add_to_list_form" . }}
    </div>
    <div id="todo-list-container" class="list-container">
        {{ template "todo_list" . }}
    </div>
    <div id="share-button"></div>
</div>
{{ end }}

{{ define "share" }}
<div id="main-container" class="main-container">
    <h1>SHARE TODO LIST</h1>
    <div class="share-form-container">
        {{ template "share_form" . }}
    </div>
    <button class="share-button" hx-get="/back" hx-target="#main" hx-swap="innerHTML" hx-push-url="/">Back</button>
    <!-- Why is this swap not rendering the Share button? How do we get the share button back in? 
    maybe via conditional rendering, or maybe via creating a different template which contains the swap button? -->
</div>
{{ end }}