@use "abstracts/mixins";
@use "abstracts/variables";
@use "components/form";
@use "components/main";
@use "components/list";
@use "components/button";

@font-face {
  font-family: "Jersey20";
  src: url("../fonts/Jersey20-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Jersey20", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
