{{ define "Form" }}
<form hx-post="/add" 
      {{ if .Errors.email }} hx-swap="outerHTML" hx-target="this" {{ else }} hx-swap="innerHTML" hx-target="#display" {{ end }}
>
                {{ if .Errors.email }} <p style="color: red">{{ .Errors.email }}</p> {{ end }}
                <input 
                        {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
                        type="text" name="name" 
                />
                <input 
                        {{ if .Values.email}} value="{{ .Values.email}}" {{ end }}
                        type="email" name="email" 
                />
                <button type="submit">Add Contact</button>
        </form>
{{ end }}
