{{ block "Form" . }}
        <form hx-post="/add" hx-swap="outerHTML">
                {{ if .FormData.Errors.email }} 
                <p style="color: red">{{ .FormData.Errors.email }}</p>
                {{ end }}
                <input 
                        {{ if .FormData.Values.name }} value="{{ .FormData.Values.name }}" {{ end }}
                        type="text" name="name" 
                />
                <input 
                        {{ if .FormData.Values.email}} value="{{ .FormData.Values.email}}" {{ end }}
                        type="email" name="email" 
                />
                <button type="submit">Add Contact</button>
        </form>
{{ end }}
