{{ define "Form" }}
        <form hx-post="/add" hx-swap="outerHTML">
                {{ if .Errors.email }} 
                <p style="color: red">{{ .Errors.email }}</p>
                {{ end }}
                <input 
                        {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
                        type="text" name="name" 
                />
                <input 
                        {{ if .Values.email}} value="{{ .Values.email}}" {{ end }}
                        type="email" name="email" 
                />
                <button type="submit">Add Contact</button>
        </form>
{{ end }}
