@use "../abstracts/variables" as v;

.add-to-list-form-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.add-to-list-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.form-input {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem 0.25rem 0.5rem;
  border: 2px solid rgba(242, 132, 130, 1);
  background-color: darken(v.$primary-color, 2%);
  color: v.$text-color;
  box-shadow: inset 2px 4px 0px rgba(242, 132, 130, 1);
}
