@use "../abstracts/variables" as v;

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: v.$background-dark;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;

  gap: 1rem;
  padding: 2rem;

  background-color: v.$primary-color;
  border: solid 2px rgba(242, 132, 130, 1);
  box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.85);
  color: v.$text-color;
  border-radius: 1rem;
}
