@use "../abstracts/variables" as v;

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-color: v.$background-dark;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;

    gap: 1rem;
    padding: 2rem;

    background-color: v.$primary-color;
    border: solid 2px rgba(242, 132, 130, 1);
    box-shadow: 2px 4px 0px v.$background-darker;
    color: v.$text-color;
    border-radius: 1rem;

    .share-button {
        width: 100%;
    }

    .button {
        width: 100%;
    }
}

.separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.15rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.separator-square {
    width: 8px;
    height: 8px;
    border: solid 2px v.$secondary-color;
    background-color: v.$primary-color;
    transform: rotate(45deg);
    box-shadow: inset 1px 2px 0px v.$secondary-color;
}
