@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.navbar {
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    margin: 0;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        max-width: 1440px;
        gap: 2rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__link-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: fit-content;
    }

    &__link {
        font-size: 1rem;
        text-decoration: none;
        margin-right: 1rem;

        &:hover {
            color: red;
        }
    }
}
